
<form>
	<div class="screenAlert-icon screenAlert-success animate">
		<span class="screenAlert-line screenAlert-tip animateSuccessTip"></span>
		<span class="screenAlert-line screenAlert-long animateSuccessLong"></span>
		<div class="screenAlert-placeholder"></div>
		<div class="screenAlert-fix"></div>
	</div>
    <div style="margin-top: 10px;">
        <label>{{mensaje}}</label>
    </div>
    <div class="center">

        <button (click)="recargar()" type="button" class="btn btn-success">Aceptar
        </button>

    </div>

</form>
