<div>
  <div style="text-align: center">
    <h1 class="titulo">Agregar usuario</h1>
    <hr />
  </div>

  <form>
    <div style="text-align: right;" >

      <div style="display: inline-block; margin-right: 10px; ">
        <button (click)="insertar()" mat-flat-button color="primary">
          Guardar
        </button>
      </div>

      <div style="display: inline-block;">
        <button (click)="cerrar()" mat-flat-button color="warn">
          Cancelar
        </button>
      </div>

    </div>

      <div style="margin-left: 10px; display: inline-block; margin-top: 20px">
        <label class="label">Código:</label>
        <mat-form-field style="margin-left: 10px" class="example-full-width">
          <mat-label>Código</mat-label>
          <input
            maxlength="10"
            name="codigo"
            [(ngModel)]="codigo"
            matInput
            placeholder="..."
          />
        </mat-form-field>
      </div>

      <p></p>

      <div style="margin-left: 10px; display: inline-block">
        <label class="label">Nombre:</label>
        <mat-form-field style="margin-left: 10px" class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input
            name="nombre"
            [(ngModel)]="nombre"
            matInput
            placeholder="..."
          />
        </mat-form-field>
      </div>

      <p></p>

      <div style="margin-left: 10px; display:  inline-block;">
        <label class="label">Teléfono:</label>
        <mat-form-field style="margin-left: 10px" class="example-full-width">
          <mat-label>Teléfono</mat-label>
          <input
            name="telefono"
            [(ngModel)]="telefono"
            matInput
            placeholder="..."
          />
        </mat-form-field>
      </div>



  </form>
</div>
