
<app-navbar></app-navbar>
<app-navbar2></app-navbar2>


<div style="margin-top: 60px;">

  <div style=" text-align: center;">
      <h1 class="titulo">Usuarios</h1>
      <hr />
  </div>

  <form>

     <div style="float: right;">
          <button  (click)="abrirDialogo()" mat-flat-button color="primary">
              <mat-icon>playlist_add</mat-icon>
              Agregar usuario
          </button>
      </div>

      <div style="margin-left: 10px;">
          <mat-form-field class="filtro" >
              <mat-label>Filtro</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input>
          </mat-form-field>
      </div>



      <mat-card>

          <table style="background:  rgba(255, 255, 255, 0.4);" mat-table [dataSource]="dataSource"
              class="mat-elevation-z8">

              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Codigo </th>
                <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>



              <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef> Editar </th>


                  <td mat-cell *matCellDef="let element">
                      <button  class="btnEdit">
                          <mat-icon>edit</mat-icon>
                      </button>
                  </td>


              </ng-container>


              <ng-container matColumnDef="eliminar">
                  <th mat-header-cell *matHeaderCellDef> Eliminar </th>


                  <td mat-cell *matCellDef="let element">
                      <button (click)="eliminar(element)" class="btnDelete">
                          <mat-icon>cancel</mat-icon>
                      </button>

                  </td>

              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

              <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)"
                  *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
          </mat-paginator>


      </mat-card>


</form>



<div style="margin-top: 30px;">
  <footer class="piePag">Help Desk</footer>
</div>

</div>
