.username{
  font-family: 'Raleway', sans-serif;
  font-size: large;
  color: white;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.li {
  float: left;
}





.titulos{
  font-family: 'Raleway', sans-serif;
  animation: byron .4s ease forwards;
  font-size: large;
}
@keyframes byron{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
.nav-link,.navbar-brand,.modal-body,.modal-title,.drops,.btn,.titulos{
  font-family: 'Raleway', sans-serif;
  font-size: large;
  color:white;

}

.username{
  font-family: 'Raleway', sans-serif;
  font-size: large;
  color: white;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li {
  float: left;
}


.lia:not(:hover) {
  color:rgb(221, 221, 221);

}
.lia:hover(.active) {
  color:rgb(255, 255, 255);

}

.active {
  background-color: #007deb;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

